{% extends 'base.html' %}
{% block page_title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-card">
            <div class="text-center">
                <div class="form-icon"><i class="bi bi-arrow-down-circle"></i></div>
                <h4>{{ titulo }}</h4>
                <p class="form-subtitle">Registra tus gastos diarios</p>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                {% include 'partials/form_field.html' %}
                {% endfor %}
                <button type="submit" class="btn-submit btn-submit-danger">
                    <i class="bi bi-check-lg"></i> Guardar
                </button>
                <a href="/transacciones/gastos/" class="btn-cancel">
                    <i class="bi bi-x"></i> Cancelar
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
